.container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.HeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  width: 100px;
  object-fit: cover;
}
.Menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.text {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.text:hover {
  color: var(--dl-color-turquoise-default);
}
.text01 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.text01:hover {
  color: var(--dl-color-turquoise-default);
}
.text02 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.text02:hover {
  color: var(--dl-color-turquoise-default);
}
.text03 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.text03:hover {
  color: var(--dl-color-turquoise-default);
}
.text04 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.text04:hover {
  color: var(--dl-color-turquoise-default);
}
.text05 {
  transition: 0.3s;
}
.text05:hover {
  color: var(--dl-color-turquoise-default);
}
.icon {
  width: 24px;
  height: 24px;
}
.BurgerMenu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.MobileMenu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.Top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.Logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.image01 {
  width: 100px;
  object-fit: cover;
}
.CloseMenu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.icon05 {
  width: 24px;
  height: 24px;
}
.Mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text06 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text06:hover {
  color: var(--dl-color-turquoise-default);
}
.text07 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text07:hover {
  color: var(--dl-color-turquoise-default);
}
.text08 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text08:hover {
  color: var(--dl-color-turquoise-default);
}
.text09 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text09:hover {
  color: var(--dl-color-turquoise-default);
}
.text10 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text10:hover {
  color: var(--dl-color-turquoise-default);
}
.text11 {
  transition: 0.3s;
}
.text11:hover {
  color: var(--dl-color-turquoise-default);
}
.Bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.container01 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.link {
  display: contents;
}
.container02 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.icon07 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.icon07:hover {
  fill: var(--dl-color-purple-default);
}
.link1 {
  display: contents;
}
.container03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.icon09 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.icon09:hover {
  fill: var(--dl-color-pink-default);
}
.link2 {
  display: contents;
}
.container04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.icon11 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.icon11:hover {
  fill: var(--dl-color-turquoise-default);
}
.link3 {
  display: contents;
}
.container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.icon13 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.icon13:hover {
  fill: var(--dl-color-orange-default);
}
.Main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.BlurBackground {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.Hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Heading {
  margin-bottom: var(--dl-space-space-doubleunit);
}
.image02 {
  width: 320px;
  object-fit: cover;
}
.TurquoiseCirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.PurpleCircle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.Left {
  top: 653px;
  left: 0px;
  right: auto;
  width: 420px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.Right {
  top: 441px;
  left: auto;
  right: 0px;
  width: 612px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.Belay {
  width: 100%;
  height: 746px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.container07 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.text18 {
  white-space: pre-wrap;
}
.text20 {
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.text21 {
  white-space: pre-wrap;
}
.Image-Large {
  width: 100%;
  height: 438px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/playground_assets/cover%20image.svg");
}
.Image-Small {
  width: 100%;
  height: 438px;
  display: none;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/playground_assets/cover%20image.svg");
}
.Community {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.container08 {
  width: 100%;
  height: 294px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #2e868c;
}
.Content {
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 48px ;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: flex-start;
}
.text22 {
  color: #ffffff;
  line-height: 54px;
}
.text23 {
  color: #f1f2f6;
  max-width: 400px;
}
.text24 {
  white-space: pre-wrap;
}
.Phone {
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  padding: 40px 48px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image03 {
  width: 320px;
  object-fit: cover;
}
.User-Info {
  flex: 0 0 auto;
  width: 100%;
  height: 668px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container09 {
  flex: 0 0 auto;
  width: 540px;
  height: 540px;
  display: flex;
  overflow: hidden;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-purple-100);
}
.image04 {
  height: 441px;
  align-self: center;
  margin-top: 100px;
  object-fit: cover;
}
.container10 {
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text26 {
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.text27 {
  white-space: pre-wrap;
}
.App-Feature {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text28 {
  color: #18191F;
  line-height: 54px;
}
.container11 {
  width: 100%;
  height: 802px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: flex-start;
}
.List {
  height: 647px;
  display: flex;
  padding: 0px;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.Line-1 {
  display: flex;
  padding: 0px;
  column-gap: 40px;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 48px;
  flex-direction: row;
  justify-content: space-between;
}
.image05 {
  width: 72px;
  object-fit: cover;
}
.Container12 {
  width: 515px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.image06 {
  width: 50px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  padding-right: 10px;
}
.text29 {
  color: #18191F;
  line-height: 54px;
}
.text30 {
  color: #18191F;
  max-width: 100%;
  align-self: flex-start;
}
.text31 {
  white-space: pre-wrap;
}
.Line-2 {
  display: flex;
  padding: 0px;
  column-gap: 40px;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: row;
  justify-content: flex-start;
}
.image07 {
  width: 72px;
  object-fit: cover;
}
.Container14 {
  width: 515px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.image08 {
  width: 72px;
  display: none;
  object-fit: cover;
}
.text32 {
  color: #18191F;
  width: 100%;
  line-height: 54px;
}
.text33 {
  color: #18191F;
  max-width: 100%;
  align-self: flex-start;
}
.text34 {
  white-space: pre-wrap;
}
.Line-3 {
  display: flex;
  padding: 0px;
  column-gap: 40px;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: row;
  justify-content: flex-start;
}
.image09 {
  width: 72px;
  object-fit: cover;
}
.Container16 {
  width: 515px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.container17 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.image10 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.text35 {
  color: #18191F;
  width: 100%;
  line-height: 54px;
}
.text36 {
  color: #18191F;
  max-width: 100%;
  align-self: flex-start;
}
.text37 {
  white-space: pre-wrap;
}
.Line-4 {
  display: flex;
  padding: 0px;
  column-gap: 40px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.image11 {
  width: 72px;
  object-fit: cover;
}
.Container18 {
  width: 515px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.container19 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.image12 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.text38 {
  color: #18191F;
  width: 100%;
  line-height: 54px;
}
.text39 {
  color: #18191F;
  max-width: 100%;
  align-self: flex-start;
}
.text40 {
  white-space: pre-wrap;
}
.Phone1 {
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  padding: 40px 48px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image13 {
  width: 448px;
  height: 912px;
  object-fit: cover;
}
.Features {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
}
.text42 {
  max-width: 500px;
  text-align: center;
}
.text43 {
  white-space: pre-wrap;
}
.Features1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.Testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
  background-color: var(--dl-color-turquoise-100);
}
.container20 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container21 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.image14 {
  top: -22px;
  left: -65px;
  right: auto;
  width: 100px;
  bottom: auto;
  z-index: 10;
  position: absolute;
  object-fit: cover;
}
.text44 {
  z-index: 100;
  max-width: 500px;
}
.container22 {
  flex: 0 0 auto;
  width: 350px;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container23 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.container24 {
  width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container25 {
  width: 300px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: column;
}
.Achievements {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.container26 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text47 {
  white-space: pre-wrap;
}
.text51 {
  white-space: pre-wrap;
}
.container27 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container28 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container29 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.CTA {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #84CBD0;
}
.container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.container31 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text53 {
  white-space: pre-wrap;
}
.text54 {
  max-width: 500px;
}
.text55 {
  white-space: pre-wrap;
}
.text56 {
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.text57 {
  white-space: pre-wrap;
}
.container32 {
  width: 520px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.image15 {
  top: -100px;
  left: auto;
  right: var(--dl-space-space-doubleunit);
  width: 232px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.image16 {
  top: auto;
  left: var(--dl-space-space-doubleunit);
  right: auto;
  width: 232px;
  bottom: -100px;
  position: absolute;
  object-fit: cover;
}
.Footer {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.image17 {
  object-fit: cover;
}
.container34 {
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
.text58 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.text58:hover {
  color: var(--dl-color-turquoise-default);
}
.text59 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.text59:hover {
  color: var(--dl-color-turquoise-default);
}
.text60 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.text60:hover {
  color: var(--dl-color-turquoise-default);
}
.text61 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.text61:hover {
  color: var(--dl-color-turquoise-default);
}
.text62 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.text62:hover {
  color: var(--dl-color-turquoise-default);
}
.text63 {
  transition: 0.3s;
  white-space: nowrap;
}
.text63:hover {
  color: var(--dl-color-turquoise-default);
}
.Divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: var(--dl-color-gray-white);
}
.container35 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.text64 {
  color: var(--dl-color-gray-300);
  margin-top: var(--dl-space-space-unit);
}
.container36 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.link4 {
  display: contents;
}
.container37 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.icon15 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.icon15:hover {
  fill: var(--dl-color-purple-default);
}
.link5 {
  display: contents;
}
.container38 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.icon17 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.icon17:hover {
  fill: var(--dl-color-pink-default);
}
.link6 {
  display: contents;
}
.container39 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.icon19 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.icon19:hover {
  fill: var(--dl-color-turquoise-default);
}
.link7 {
  display: contents;
}
.container40 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.icon21 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.icon21:hover {
  fill: var(--dl-color-orange-default);
}
@media(max-width: 991px) {
  .Hero {
    height: auto;
    flex-direction: column;
  }
  .container06 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .Heading {
    text-align: center;
  }
  .container07 {
    align-items: flex-start;
    flex-direction: column;
  }
  .container08 {
    align-self: flex-end;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .Content {
    margin: 0px;
  }
  .Phone {
    width: 258px;
    height: 294px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .image03 {
    align-self: flex-start;
  }
  .User-Info {
    align-self: flex-start;
    align-items: flex-start;
    margin-left: 0px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .container10 {
    width: 100%;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .App-Feature {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container11 {
    width: 990px;
    align-self: center;
    margin-top: 40px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .List {
    width: 50%;
    height: 719px;
    align-items: flex-start;
    justify-content: space-between;
  }
  .Line-1 {
    width: 100%;
    margin: 0px;
    column-gap: 20px;
    align-items: flex-start;
  }
  .image05 {
    margin-left: 32px;
  }
  .Line-2 {
    width: 100%;
    column-gap: 20px;
    align-items: flex-start;
    margin-bottom: 0px;
    justify-content: space-between;
  }
  .image07 {
    margin-left: 32px;
  }
  .Line-3 {
    width: 100%;
    column-gap: 20px;
    align-items: flex-start;
    margin-bottom: 0px;
    justify-content: space-between;
  }
  .image09 {
    margin-left: 32px;
  }
  .Line-4 {
    width: 100%;
    column-gap: 20px;
  }
  .image11 {
    margin-left: 32px;
  }
  .Phone1 {
    width: auto;
    height: 863px;
    margin: 0px;
    padding: 0px;
    align-self: center;
    flex-direction: row;
  }
  .image13 {
    height: 888px;
    align-self: flex-start;
  }
  .container20 {
    flex-direction: column;
  }
  .container22 {
    align-self: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .container23 {
    align-items: center;
    margin-left: 0px;
  }
  .container25 {
    width: 350px;
  }
  .Achievements {
    flex-direction: column;
  }
  .container27 {
    margin-top: var(--dl-space-space-doubleunit);
  }
  .container32 {
    display: none;
  }
}
@media(max-width: 767px) {
  .Menu {
    display: none;
  }
  .BurgerMenu {
    display: block;
  }
  .Heading {
    font-size: 50px;
    text-align: center;
  }
  .text17 {
    font-size: 40px;
  }
  .Community {
    height: 619px;
  }
  .Content {
    padding-left: 15px;
    padding-right: 0px;
  }
  .User-Info {
    height: 944px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .container09 {
    width: 100%;
    height: 544px;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .image04 {
    height: 445px;
  }
  .container10 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container11 {
    width: 767px;
  }
  .List {
    width: 476px;
  }
  .text41 {
    font-size: 40px;
  }
  .container21 {
    align-items: center;
  }
  .image14 {
    top: -2px;
    left: 21px;
    right: auto;
    width: 50px;
    bottom: auto;
  }
  .text44 {
    font-size: 40px;
    text-align: center;
  }
  .text46 {
    font-size: 40px;
  }
  .text52 {
    font-size: 40px;
  }
  .container34 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container35 {
    flex-direction: column;
  }
  .text64 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .Bot {
    width: 100%;
  }
  .Belay {
    height: 868px;
  }
  .Image-Large {
    display: none;
  }
  .Image-Small {
    width: 100%;
    height: 285px;
    display: flex;
    background-size: cover;
    background-image: url("/playground_assets/cover%20image%20small.svg");
  }
  .Community {
    width: 100%;
    height: 1029px;
    align-self: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container08 {
    width: 540px;
    height: 961px;
    display: flex;
    overflow: hidden;
    align-self: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
  }
  .Content {
    width: 100%;
    height: 344px;
    padding-left: 0px;
    background-color: #2e868c;
  }
  .text22 {
    align-self: flex-start;
    margin-left: 85px;
  }
  .text23 {
    margin-top: 0px;
    margin-left: 85PX;
    margin-right: 85PX;
    margin-bottom: 0px;
  }
  .Phone {
    width: 478px;
    height: 583px;
    margin-top: 20px;
    align-items: center;
    padding-top: 0px;
    border-color: #ffffff;
    border-width: 6px;
    padding-bottom: 0px;
    justify-content: center;
    background-color: #ffffff;
  }
  .image03 {
    height: 600px;
    align-self: center;
    margin-top: 40px;
  }
  .User-Info {
    height: 927px;
    align-items: center;
    justify-content: flex-start;
  }
  .container09 {
    width: 540%;
    align-items: flex-start;
  }
  .image04 {
    height: 444px;
    margin-left: 20PX;
  }
  .container10 {
    height: 300px;
    margin-left: 0px;
  }
  .App-Feature {
    width: 100%;
    height: 1564px;
    align-self: center;
    justify-content: flex-start;
  }
  .text28 {
    align-self: flex-start;
    margin-left: 0px;
  }
  .container11 {
    width: 100%;
    height: 1511px;
    display: flex;
    overflow: hidden;
    margin-top: 10px;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
  }
  .List {
    width: 100%;
    height: 794px;
  }
  .Line-1 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image05 {
    display: none;
  }
  .Container12 {
    width: 100%;
  }
  .image06 {
    display: flex;
  }
  .text29 {
    width: 100%;
    align-self: flex-start;
  }
  .Line-2 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image07 {
    display: none;
    align-self: center;
  }
  .Container14 {
    width: 100%;
  }
  .image08 {
    width: 50px;
    display: flex;
    align-self: flex-start;
    padding-right: 10px;
  }
  .text32 {
    align-self: flex-start;
  }
  .Line-3 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image09 {
    display: none;
    align-self: center;
  }
  .Container16 {
    width: 100%;
  }
  .container17 {
    flex-direction: row;
  }
  .image10 {
    width: 50px;
    display: flex;
    align-self: flex-start;
    padding-right: 10px;
  }
  .text35 {
    align-self: flex-start;
  }
  .Line-4 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image11 {
    display: none;
    align-self: center;
  }
  .Container18 {
    width: 100%;
  }
  .image12 {
    width: 50px;
    padding-right: 10px;
  }
  .text38 {
    align-self: flex-start;
  }
  .Phone1 {
    width: 540px;
    height: 759px;
    padding: 0px;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    border-color: #ffffff;
    border-width: 6px;
    justify-content: center;
  }
  .image13 {
    width: 333px;
    height: 608px;
    align-self: center;
  }
  .text41 {
    text-align: center;
  }
  .text42 {
    text-align: center;
  }
  .container26 {
    align-items: center;
  }
  .text46 {
    text-align: center;
  }
  .text50 {
    text-align: center;
  }
  .container28 {
    flex-direction: column;
  }
  .container29 {
    flex-direction: column;
  }
}
